# custom files
!/custom/aliases/example.aliases.bash
!/custom/completion/example.completion.bash
!/custom/plugins/example/
!/custom/themes/example/
!/custom/example.bash
/custom/

# temp files directories
/cache/
/log/
!/cache/.gitkeep
!/log/.gitkeep

# disabled files
*.swp
*.disabled
.idea/
